<!-- ******OFFICER LIST****** --> 
<section id="features" class="features section">
<div class="container text">
<h2 class="title"><center>Officers</center></h2>
            
<!-- President --> 
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Ria.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 80px">
        <div><h4 class="title">President</h4></div>
        <div>Ria Someshwar</div>
        <div>rasomeshwar@berkeley.edu</div>
    </div>
<!-- EVP -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/ivan.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 80px">
        <div><h4 class="title">EVP</h4></div>
        <div>Ivan Jayapurna</div>
        <div>ivanfj@berkeley.edu</div>
    </div>
<!-- VP of Finance -->
    <div style="display:inline-block;vertical-align:top;horizontal-align:right;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Abirami.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">VP of Finance</h4></div>
        <div>Abirami Murugappan</div>
        <div>abiramim@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Corporate Chair  -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Jingwei.jpeg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 82px">
        <div><h4 class="title">Corporate Chair</h4></div>
        <div>Jing-Wei Kang</div>
        <div>jingwei.kang@berkeley.edu </a></div>
    </div>
<!-- Corporate Chair -->
    <div style=display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/MuraliSubramanian.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 75px">
        <div><h4 class="title">Corporate Chair</h4></div>
        <div>Murali Subramanian</div>
        <div>mu.subr@berkeley.edu</div>
    </div>
<!-- IVP -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Jeremy.png" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">IVP</h4></div>
        <div>Jeremy Lan</div>
        <div>jeremy.lan@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Social Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Allison.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 86px">
        <div><h4 class="title">Social Chair</h4></div>
        <div>Allison Green</div>
        <div>allisongreen@berkeley.edu</div>
    </div>
<!-- Media Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Michael.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 65px">
        <div><h4 class="title">Media Chair</h4></div>
        <div>Michael Rivas</div>
        <div>mrivasvaladez@berkeley.edu</div>
    </div>
<!-- Outreach Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Jessica.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Outreach Chair</h4></div>
        <div>Jessica Wang</div>
        <div>jessica.hj.wang@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Social Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/RachelJang.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 92px">
        <div><h4 class="title">Social Chair</h4></div>
        <div>John Shin</div>
        <div>jshin029@berkeley.edu</div>
    </div>
<!-- Media Chair-->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Gaurav.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 95px">
        <div><h4 class="title">Media Chair</h4></div>
        <div>Gaurav Kamat</div>
        <div>gkamat@berkeley.edu</div>
    </div>
<!-- Outreach Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/StanleyReeder.png" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Outreach Chair</h4></div>
        <div>Richard Lin</div>
        <div>richard.lin.047@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Senior Advisor -->
    <div style="display:inline-block;vertical-align:top;float:center">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/AlexanderErickson.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 20px">
        <div><h4 class="title">Senior Advisor</h4></div>
        <div>Alexander Erickson</div>
        <div>alexander.erickson@berkeley.edu</div>
    </div>
<!-- Senior Advisor -->
    <div style="display:inline-block;vertical-align:top;float:center">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers17-18/Sanya.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Senior Advisor</h4></div>
        <div>Sanya Sehgal</div>
        <div>sanya.sehgal@berkeley.edu</div>
    </div>
</div><!--//container-->
</section><!--//features-->
